body {
	/*background-color: #0000FF;*/
	background: url('madeira.jpg') repeat;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color:#000080;
}

h1{
	font-size: 50px;
}

h3,h4{
	font-size: 43px;
}

.yellow{
	color:#000;
}

.text_maisculo{
	text-transform: uppercase;
}

.senha{
	background-color:#FFF;
	border:none;
	color:#FFF;
}
.destaque{
	padding:70px 0;
	font-size: 215px;
	color:#FF00FF;
}